.flex {
    display:flex;
}
.flex_column {
    flex-direction: column;
}
.flex_row {
    flex-direction: row;
}
.flex_space_around {
    justify-content: space-around;
}
.flex_space_between {
    justify-content: space-between;
}
.flex_space_evenly {
    justify-content: space-evenly;
}
.container {
    max-width:1100px;
    height:auto;
    position:relative;
    margin:0 auto;
    
}
@media(max-width:1200px) {
  .container {
    padding: 0 2rem !important;
  }
}

@media(max-width:568px) {
  .margin_each_section {
    margin: 0 auto !important;
    padding: 2rem 0 !important;
  }
  .container{
    padding:0  !important;
  }
}

.margin_each_section {
    margin: 0 auto;
    padding-top:5rem;
}
.react-tabs {
    /* display: flex; */
  padding-top:1.5rem;
}
.react-tabs__tab-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70%;

    justify-content: center;
  }
  .react-tabs__tab {
    border-bottom: 1px !important;
    border-right: none;

    font-size:1.2rem;
    color: var(--red_primary);
    transition:200ms!important;
    margin: 0!important;
    padding: .5rem 1rem !important;
  }
  .react-tabs__tab-list {
    margin: 2rem auto !important;
    border-bottom:unset !important;
  }
.react-tabs__tab--selected {
  border-radius: 5px !important;
    background: var(--red_primary)!important;
    color: var(--white_primary) !important;
    transition:200ms;
}
.react-tabs__tab-panel {
  padding: 1rem;
}
/* tittle_component */
.tittle_component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.tittle_wrap {
  display: flex;
  align-items: baseline;


}
.tittle_wrap_2 {
  display: flex;
  align-items: center;
}
.tittle_wrap_btn {
  width:fit-content;
  margin: 0 auto;
  padding-top:2rem;
}
.tittle_icd {
  display:block;
  background: var(--red_primary)!important;
  width:5px;
  margin-left:1.5rem;
  height:50px;
}


  .tittle_component h2 {
    font-size:4.2rem !important;
    margin-left:1rem;
    color:var(--red_primary);
    line-height:136%;
  }
  .tittle_component  p {
    padding-left:2rem;
    max-width:40%;
  }
  .tittle_ic {
    width:3rem;
    position:relative;
  }
  @media (max-width: 1200px) {
    .tittle_wrap {
      align-items: center !important;
    }
    .tittle_component h2 {
      font-size: 4.2rem !important;
      max-width: 72%;
      line-height: 106%;
    }
    .tittle_component p {
      max-width: 60% !important;
      font-size: .8rem;
    }
  }
  @media (max-width: 568px) {
    .tittle_component h2 {
      font-size:2.4rem !important;
      line-height:100%;
      max-width:60%;
     
    }
    .tittle_component h2 {
      margin-left: 0 !important;
    
    }
    
    .tittle_component p {
      padding-left: 1.1rem !important;
    }
    .tittle_component p {
      max-width: 90%;
    }
    .tittle_wrap {
      align-items: center !important;
    }
    .tittle_ic {
      padding: 10px !important;
    }
  }
  .tittle_component .cls-1 {
    fill:  var(--red_primary);
  }


  /* swiper */
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

   
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }
  
  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    height: 100%;
    width: 100%;
  }
  
  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev,
  .swiper-button-next {
    background: #00000059;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: 3.6rem !important;
    width: 3.6rem !important;
   
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    color:var(--white_primary);
    font-size: 1.2rem !important;
    font-weight:bold;
  }
  