.flex {
    display:flex;
}
.flex_column {
    flex-direction: column;
}
.flex_row {
    flex-direction: row;
}
.flex_space_around {
    justify-content: space-around;
}
.flex_space_between {
    justify-content: space-between;
}
.flex_space_evenly {
    justify-content: space-evenly;
}
.container {
    max-width:80%;
    height:auto;
    position:relative;
    margin:0 auto;
    
}
.margin_each_section {
    margin: 5rem auto !important;
}
.react-tabs {
    /* display: flex; */
 
}
.react-tabs__tab-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: fit-content;
    max-width: 50%;
    justify-content: center;
  }
  .react-tabs__tab {
    border-bottom: auto !important;
    border-right: none;

    font-size:1.2rem;
    color: var(--red_primary);
    transition:200ms!important;

  
  }
  .react-tabs__tab-list {
    margin: 2rem auto !important;
    border-bottom:unset !important;
  }
.react-tabs__tab--selected {
    background: var(--red_primary)!important;
    color: var(--white_primary) !important;
    transition:200ms;
}
/* tittle_component */
.tittle_component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .tittle_component > h2 {
    color:var(--red_primary);
  }
  .tittle_component > p {
    text-align:center;
  }
  


  /* swiper */
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    margin-top:1rem;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }
  
  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    height: 80%;
    width: 100%;
  }
  
  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  