html,
body {
 
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@font-face {
  font-family: "Jose";
  src: url("/fonts/JosefinSans-Medium.ttf");   
  font-display: swap;
}
@font-face {
  font-family: "Play";
  src: url("/fonts/PlayfairDisplay-Regular.ttf");   
  font-display: swap;
}
a {
  color: inherit;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

:root {
  --padding_container : 2rem;
  --red_primary : #d92026;
  --white_primary: #ffffff;
  --gray_primary: gray;


}
@media(max-width:568px) {
  :root {
    --padding_container :1rem;
  
  
  }
}
ul {
  margin:0;
  padding:0;
  list-style-type:none;
}
h1,h2,h3,h4 {
  margin:0;
  padding:0;
  line-height: 170%;
  font-family : "Play";
}
p {
  font-size:1rem;
  
}
h1 {
  font-size:4rem;
}
h2 {
  font-size:3.2rem;
}
h3 {
  font-size:1.5rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}